{% extends "base.html" %}

{% block title %}Register - Room Rental System{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="subtitle">join with us </p>

        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder="Enter your full name") }}
                {% if form.name.errors %}
                    <span class="error">{{ form.name.errors[0] }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder="your@email.com") }}
                {% if form.email.errors %}
                    <span class="error">{{ form.email.errors[0] }}</span>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.phone.label }}
                {{ form.phone(class="form-control",placeholder="9848.....") }}
                {% for error in form.phone.errors %}
                <small class="text-danger">{{ error }}</small>
                 {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Minimum 6 characters") }}
                {% if form.password.errors %}
                    <span class="error">{{ form.password.errors[0] }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control", placeholder="Re-enter password") }}
                {% if form.confirm_password.errors %}
                    <span class="error">{{ form.confirm_password.errors[0] }}</span>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.role.label }}
                {{ form.role(class="form-control") }}
                {% if form.role.errors %}
                    <span class="error">{{ form.role.errors[0] }}</span>
                {% endif %}
            </div>

            <button type="submit" class="btn-primary btn-block">Register</button>
        </form>

        <p class="auth-footer">
            Already have an account? <a href="{{ url_for('login') }}">Login here</a>
        </p>
    </div>
</div>
{% endblock %}
